/* Site settings */
body {background-color:#ffffff;margin:0px;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;text-rendering:optimizeLegibility;font-feature-settings:'kern', 'liga' 0, 'clig' 0, 'calt' 0;color:#000000;letter-spacing:0em;-webkit-print-color-adjust:exact;}
a {text-decoration:none;}
a:link {color:#B79000; cursor:pointer;}
a:visited {color:#B79000;}
a:hover {color:#FFFFFF;}
a * {color:#B79000;text-decoration:none;}
sup {font-size:0.5em; vertical-align: 0.66em;}
sub {font-size:0.5em; vertical-align: -0.1em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_e1 {display: inline-block; border:none; white-space:normal;}
.xr_e2 {position: absolute; display: block; border:none;}
.xr_ap {position: absolute; border:none;}
.xr_ar {position: absolute; display:block;}
.xr_ae {position: relative; border:none;}
.xr_strb {z-index: 1;}
.xr_strb .mxs-arrow, .xr_strb .mxs-navigation {visibility: hidden;}
.xr_strf {z-index: 3;}
.xr_xrc, .xr_xri_, .xr_sxri, .xr_xpos {z-index: 2;}
.xr_ro, .xr_rd, .xr_rs {z-index: 3;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}

.xr_tt0 {transition: all 0s;}
.xr_tt1 {transition: all 0.1s; transition-timing-function: ease-in;}
.xr_tt2 {transition: all 0.25s; transition-timing-function: ease-in;}
.xr_tt3 {transition: all 0.5s; transition-timing-function: ease-in;}
.xr_tt4 {transition: all 1s; transition-timing-function: ease-in;}
.xr_tt5 {transition: all 2s; transition-timing-function: ease-in;}
a:hover .xr_ro, a:active .xr_rd, .xr_nb0:hover .xr_ro{visibility:visible;opacity: 1;transform: none;}

a:active .xr_ro {opacity:0;}
.xr_ro, .xr_rd {visibility:hidden;opacity:0;}
.xr_ro0, .xr_rd0, a:active .xr_ro0 {opacity:0;}
.xr_ro1, .xr_rd1, a:active .xr_ro1 {transform:translate3d(0,-20%,0);}
.xr_ro2, .xr_rd2, a:active .xr_ro2 {transform:translate3d(20%,0,0);}
.xr_ro3, .xr_rd3, a:active .xr_ro3 {transform-origin:top; transform:scale3d(1,0.3,1);}
.xr_ro4, .xr_rd4, a:active .xr_ro4 {transform-origin:left; transform:scale3d(0.3,1,1);}
.xr_ro5, .xr_rd5, a:active .xr_ro5 {transform:rotate3d(1,0,0,180deg); -ms-transform: rotateX(180deg);}
.xr_ro6, .xr_rd6, a:active .xr_ro6 {transform:rotate3d(0,1,0,180deg); -ms-transform: rotateY(180deg);}
.xr_ro7, .xr_rd7, a:active .xr_ro7 {transform:rotate3d(0,0,1,180deg);}
.xr_ro8, .xr_rd8, a:active .xr_ro8 {transform:scale3d(0.3,0.3,1);}
.xr_ro9, .xr_rd9, a:active .xr_ro9 {transform:skew(-30deg,0) translate3d(10%,0,0);}
.xr_ro10, .xr_rd10, a:active .xr_ro10 {transform-origin:50% 500%; transform:rotate3d(0,0,1,10deg);}
.xr_ro11, .xr_rd11, a:active .xr_ro11 {transform:translate3d(0,-50%,0) scale3d(0.3,0.3,1);}
.xr_ro12, .xr_rd12, a:active .xr_ro12 {transform:translate3d(0,20%,0);}
.xr_ro13, .xr_rd13, a:active .xr_ro13 {transform:translate3d(-20%,0,0);}
.xr_stickie {z-index: 90;}
.xr_nb0 {touch-action: none;}
.xr_nb0:hover > .xr_nb2, .xr_nb1:hover > .xr_nb2 {visibility: visible; opacity: 1 !important; transform: none !important;}
.xr_nb2 {white-space: nowrap; padding:0px; margin:0px; visibility: hidden; position: absolute; z-index:101;}
.xr_nb2 li {display:block;}
.xr_nb2 li a {display:block; text-decoration:none;}
.xr_nb4 {display:block; padding:0px; margin:0px;}
.xr_nb6 {width:100%; height:2px;}
.xr_nb1 {position: relative;}
.xr_nb1:after {content: ''; position: absolute; top: 50%; right: .5em; height: 0px; width: 0px; border: 5px solid transparent; margin-top: -5px; margin-right: -3px; border-color: transparent; border-left-color: inherit;}
body {text-align:center;}
@media screen, handheld {
.xr_app {position: absolute;}
.xr_apb {display:block; position:absolute;}
.xr_c_Theme_Color_2 {color:#B79000;}
.xr_c_Light_Text {color:#FFFFFF;}
.xr_c_Website_Backdrop {color:#B79000;}
.xr_c_Website_Backdrop_2 {color:#184E89;}
.xr_c_Page_Background {color:#FFFFFF;}
.xr_c_Theme_Color_1 {color:#184E89;}
.xr_c_Dark_Text {color:#363636;}
.xr_c_Theme_Color_3 {color:#184E89;}
.xr_bgb0 {background:url('218.png') -768px 2300px repeat;}
#xr_nb541 {font-family:Arial; font-size:11px;}
#xr_nb541 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb541 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb541 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb541 .xr_nb6 {background-color:#000000;}
#xr_nb541 li {border-color:#000000;}
#xr_nb541 li:hover {border-color:#FFFFFF;}
#xr_nb541 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb541 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb1 {background:url('218.png') -768px 2218px repeat;}
#xr_nb545 {font-family:Arial; font-size:11px;}
#xr_nb545 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb545 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb545 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb545 .xr_nb6 {background-color:#000000;}
#xr_nb545 li {border-color:#000000;}
#xr_nb545 li:hover {border-color:#FFFFFF;}
#xr_nb545 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb545 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb2 {background:url('218.png') -768px 2615px repeat;}
#xr_nb549 {font-family:Arial; font-size:17px;}
#xr_nb549 li:hover > a {background-color:#B79000; color:#FFFFFF;}
#xr_nb549 li a {color:#FFFFFF; background-color:#184E89; padding:12px; padding-right:30px;}
#xr_nb549 li > div {background-color:#184E89; padding:12px;}
#xr_nb549 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb549 li {border-color:#FFFFFF;}
#xr_nb549 li:hover {border-color:#FFFFFF;}
#xr_nb549 ul {border: solid 0px #184E89; background-color:#184E89;}
#xr_nb549 .xr_nb4 {opacity: 0.90;}
#xr_nb549 .xr_nb5 {border-color: rgba(24,78,137,0.90);}
#xr_nb549 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb3 {background:url('218.png') -768px 2154px repeat;}
#xr_nb553 {font-family:Arial; font-size:11px;}
#xr_nb553 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb553 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb553 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb553 .xr_nb6 {background-color:#000000;}
#xr_nb553 li {border-color:#000000;}
#xr_nb553 li:hover {border-color:#FFFFFF;}
#xr_nb553 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb553 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb4 {background:url('218.png') -768px 1977px repeat;}
#xr_nb557 {font-family:Arial; font-size:11px;}
#xr_nb557 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb557 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb557 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb557 .xr_nb6 {background-color:#000000;}
#xr_nb557 li {border-color:#000000;}
#xr_nb557 li:hover {border-color:#FFFFFF;}
#xr_nb557 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb557 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb5 {background:url('218.png') -768px 2035px repeat;}
#xr_nb561 {font-family:Arial; font-size:17px;}
#xr_nb561 li:hover > a {background-color:#B79000; color:#FFFFFF;}
#xr_nb561 li a {color:#FFFFFF; background-color:#184E89; padding:12px; padding-right:30px;}
#xr_nb561 li > div {background-color:#184E89; padding:12px;}
#xr_nb561 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb561 li {border-color:#FFFFFF;}
#xr_nb561 li:hover {border-color:#FFFFFF;}
#xr_nb561 ul {border: solid 0px #184E89; background-color:#184E89;}
#xr_nb561 .xr_nb4 {opacity: 0.90;}
#xr_nb561 .xr_nb5 {border-color: rgba(24,78,137,0.90);}
#xr_nb561 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb6 {background:url('218.png') -768px 1927px repeat;}
#xr_nb565 {font-family:Arial; font-size:11px;}
#xr_nb565 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb565 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb565 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb565 .xr_nb6 {background-color:#000000;}
#xr_nb565 li {border-color:#000000;}
#xr_nb565 li:hover {border-color:#FFFFFF;}
#xr_nb565 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb565 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb7 {background:url('218.png') -768px 1756px repeat;}
#xr_nb569 {font-family:Arial; font-size:11px;}
#xr_nb569 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb569 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb569 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb569 .xr_nb6 {background-color:#000000;}
#xr_nb569 li {border-color:#000000;}
#xr_nb569 li:hover {border-color:#FFFFFF;}
#xr_nb569 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb569 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb8 {background:url('218.png') -768px 1826px repeat;}
#xr_nb573 {font-family:Arial; font-size:17px;}
#xr_nb573 li:hover > a {background-color:#B79000; color:#FFFFFF;}
#xr_nb573 li a {color:#FFFFFF; background-color:#184E89; padding:12px; padding-right:30px;}
#xr_nb573 li > div {background-color:#184E89; padding:12px;}
#xr_nb573 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb573 li {border-color:#FFFFFF;}
#xr_nb573 li:hover {border-color:#FFFFFF;}
#xr_nb573 ul {border: solid 0px #184E89; background-color:#184E89;}
#xr_nb573 .xr_nb4 {opacity: 0.90;}
#xr_nb573 .xr_nb5 {border-color: rgba(24,78,137,0.90);}
#xr_nb573 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb9 {background:url('218.png') -768px 2483px repeat;}
#xr_nb577 {font-family:Arial; font-size:11px;}
#xr_nb577 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb577 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb577 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb577 .xr_nb6 {background-color:#000000;}
#xr_nb577 li {border-color:#000000;}
#xr_nb577 li:hover {border-color:#FFFFFF;}
#xr_nb577 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb577 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb10 {background:url('218.png') -768px 2361px repeat;}
#xr_nb581 {font-family:Arial; font-size:11px;}
#xr_nb581 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb581 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb581 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb581 .xr_nb6 {background-color:#000000;}
#xr_nb581 li {border-color:#000000;}
#xr_nb581 li:hover {border-color:#FFFFFF;}
#xr_nb581 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb581 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb11 {background:url('218.png') -768px 5273px repeat;}
#xr_nb585 {font-family:Arial; font-size:17px;}
#xr_nb585 li:hover > a {background-color:#B79000; color:#FFFFFF;}
#xr_nb585 li a {color:#FFFFFF; background-color:#184E89; padding:12px; padding-right:30px;}
#xr_nb585 li > div {background-color:#184E89; padding:12px;}
#xr_nb585 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb585 li {border-color:#FFFFFF;}
#xr_nb585 li:hover {border-color:#FFFFFF;}
#xr_nb585 ul {border: solid 0px #184E89; background-color:#184E89;}
#xr_nb585 .xr_nb4 {opacity: 0.90;}
#xr_nb585 .xr_nb5 {border-color: rgba(24,78,137,0.90);}
#xr_nb585 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb12 {background:url('218.png') -768px 1669px repeat;}
#xr_nb589 {font-family:Arial; font-size:11px;}
#xr_nb589 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb589 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb589 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb589 .xr_nb6 {background-color:#000000;}
#xr_nb589 li {border-color:#000000;}
#xr_nb589 li:hover {border-color:#FFFFFF;}
#xr_nb589 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb589 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb13 {background:url('218.png') -768px 1505px repeat;}
#xr_nb593 {font-family:Arial; font-size:11px;}
#xr_nb593 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb593 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb593 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb593 .xr_nb6 {background-color:#000000;}
#xr_nb593 li {border-color:#000000;}
#xr_nb593 li:hover {border-color:#FFFFFF;}
#xr_nb593 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb593 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb14 {background:url('218.png') -768px 1773px repeat;}
#xr_nb597 {font-family:Arial; font-size:17px;}
#xr_nb597 li:hover > a {background-color:#B79000; color:#FFFFFF;}
#xr_nb597 li a {color:#FFFFFF; background-color:#184E89; padding:12px; padding-right:30px;}
#xr_nb597 li > div {background-color:#184E89; padding:12px;}
#xr_nb597 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb597 li {border-color:#FFFFFF;}
#xr_nb597 li:hover {border-color:#FFFFFF;}
#xr_nb597 ul {border: solid 0px #184E89; background-color:#184E89;}
#xr_nb597 .xr_nb4 {opacity: 0.90;}
#xr_nb597 .xr_nb5 {border-color: rgba(24,78,137,0.90);}
#xr_nb597 .xr_nb2 {transition: visibility 300ms;}
}
@media print {
 .xr_mvpo {display:none;}
}
